<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>发布在线API服务</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm">

							<div class="form-group" align="center">
								<input id="softId" name="softId" type="hidden" th:value="${soft.softId}">
								<label class="col-sm-1 control-label">服务名称：</label>
								<div class="col-sm-4">
									<input id="softName" name="softName" class="form-control" type="text" th:value="${soft.softName}"
									>
								</div>
							</div>
							<input id="tsoftType" name="tsoftType" th:value="${soft.softType}" type="hidden">
							<div class="form-group">
								<label class="col-sm-1 control-label">服务类型：</label>
								<div class="col-sm-8">
									<select data-placeholder="--服务类型--" name="softType" id="softType"
											class="form-control chosen-select" tabindex="2">
										<option value="">--服务类型--</option>
										<!--<option th:each="memberjob : ${memberjob}"  th:value="${memberjob.value}"  th:text="${memberjob.name}" th:if="${memberjob.remarks ==checked}" th:selected="selected"></option>-->
									</select>
								</div>
							</div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">作者：</label>
                                <div class="col-sm-4">
                                    <input id="softAuthor" name="softAuthor" class="form-control" type="text" th:value="${soft.softAuthor}"
                                    >
                                </div>
                            </div>
							<div class="form-group">
								<label class="col-sm-1 control-label">作者邮箱：</label>
								<div class="col-sm-4">
									<input id="softAuthorEmail" name="softAuthorEmail" class="form-control" type="email" th:value="${soft.softAuthorEmail}"
									>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">版本号：</label>
								<div class="col-sm-4">
									<input id="softVersion" name="softVersion" class="form-control" type="text" th:value="${soft.softVersion}"
									>
								</div>
							</div>
							<div class="form-group">
								<input id="softIntroduction" name="softIntroduction" type="hidden"  th:value="${soft.softIntroduction}"> <label
									class="col-sm-1 control-label">软件/服务介绍：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="softKeywords" name="softKeywords" type="hidden" th:value="${soft.softKeywords}"> <label
									class="col-sm-1 control-label" >关键词：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_area" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="softFunction" name="softFunction" type="hidden" th:value="${soft.softFunction}"> <label
									class="col-sm-1 control-label" >功能介绍：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_require" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="softComment" name="softComment" type="hidden"  th:value="${soft.softComment}"> <label
									class="col-sm-1 control-label">说明：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_rComment" class="summernote"></div>
									</div>
								</div>
							</div>

							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light"
								   onclick="returnList()">返回列表</a>
								<button
										class="btn btn-primary waves-effect waves-light" type="submit">发布软件/服务</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/site/software/edit.js">
		
	</script>
</body>
</html>
