<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>

</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>成员信息</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group" align="center">
								<label class="col-sm-1 control-label">姓名：</label>
								<div class="col-sm-4">
									<input id="mname" name="mname" class="form-control" type="text"
										   >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">Name：</label>
								<div class="col-sm-4">
									<input id="mnameEng" name="mnameEng" class="form-control" type="text"
										   >
								</div>
							</div>
							<!--<div class="form-group">-->
								<!--<label class="col-sm-1 control-label">职称/身份：</label>-->
								<!--<div class="col-sm-4">-->
									<!--<select id="mcategory" name="mcategory" class="form-control" >-->
										<!--<option value="teacher">teacher</option>-->
										<!--<option value="student">student</option>-->
										<!--<option value="Collaborators">Collaborators</option>-->
										<!--<option value="Former">Former</option>-->
									<!--</select>-->
								<!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-1 control-label">选择合作关系：</label>
                                <div class="col-sm-8">
                                    <select data-placeholder="--选择合作关系--" name="mcategory" id="mcategory"
                                            class="form-control chosen-select_category" tabindex="2" required>
                                        <option value="">--选择合作关系--</option>
                                    </select>
                                </div>
                            </div>
							<div class="form-group">
								<label class="col-sm-1 control-label">研究组：</label>
								<div class="col-sm-8">
									<select data-placeholder="--选择类别--" name="mgroup" id="mgroup"
											class="form-control chosen-select_group" tabindex="2" required>
										<option value="">--选择分组--</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">职称：</label>
								<div class="col-sm-8">
									<select data-placeholder="--选择职称--" name="mjob" id="mjob"
											class="form-control chosen-select_job" tabindex="2" required>
										<option value="">--选择职称--</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<input id="mintroduce" name="mintroduce" type="hidden" th:value="${introduce}"> <label
									class="col-sm-1 control-label">个人介绍：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="mintroduceEng" name="mintroduceEng" type="hidden" th:value="${introduceEng}"> <label
									class="col-sm-1 control-label">个人介绍英文版：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_Eng" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="mResearea" name="mResearea" type="hidden" th:value="${area}"> <label
									class="col-sm-1 control-label">研究领域：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_area" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input id="mReseareaEng" name="mReseareaEng" type="hidden" th:value="${area_eng}"> <label
									class="col-sm-1 control-label">研究领域(Eng)：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn_area_Eng" class="summernote"></div>
									</div>
								</div>
							</div>

							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light"
								   onclick="returnList()">返回列表</a>
								<button
										class="btn btn-primary waves-effect waves-light" type="submit">保存成员信息</button>
								<!--<button-->
										<!--class="btn btn-warning waves-effect waves-light"-->
										<!--onclick="save(0)">存为草稿</button>-->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>


	<script type="text/javascript" src="/js/appjs/site/member/add.js">
		
	</script>
</body>
</html>
